<footer class="app-footer">
  <div class="footer-container">
    
    <div class="footer-col brand-col">
      <h4 class="brand-title">Guau que Corte</h4>
           
      <div class="social-links">
        <a href="#" aria-label="Gmail"><i class="fab fa-google"></i></a>
        <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
      </div>
      
      <img src="/perrito-footer.png" alt="Logo Guau que Corte" class="footer-logo">
      
    </div>

    <div class="footer-col">
      <h4>Para tu mascota</h4>
      <ul>
         <li><a href="https://buenosaires.gob.ar/agenciaambiental/animalesba/maltrato-animal">Maltrato Animal</a></li>
        <li><a href="https://buenosaires.gob.ar/agenciaambiental/animalesba/perros-y-gatos-en-el-espacio-publico">Caniles de la ciudad</a></li>
        <li><a href="https://buenosaires.gob.ar/tramites/registro-de-propietarios-de-perros-potencialmente-peligrosos">Registro de Perros potencialmente peligrosos</a></li>
        <li><a href="https://buenosaires.gob.ar/ecoparque/programas-de-conservacion/centro-de-rescate-de-fauna-silvestre-crfs">Centro de Rescate de Fauna Silvestre</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Para tu Negocio</h4>
      <ul>
        <li><a href="">Registrate como Profesional</a></li>
        <li><a href="">Beneficios para Profesionales</a></li>
        <li><a href="">Precios y Planes</a></li>
        <li><a href="">Soporte</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Más Información</h4>
      <ul>
        <li><a href="">Preguntas Frecuentes</a></li>
        <li><a [routerLink]="['/nosotros']">Acerca de Nosotros</a></li>
        <li><a href=""> Términos y Condiciones</a></li>
        <li><a href="">Política de Privacidad</a></li>
        
      </ul>
    </div>

  </div>
  
  <div class="footer-bottom">
    <p>© 2025 Guau que Corte. Todos los derechos reservados.</p>
  </div>
</footer>