<header class="app-header">
  <div class="logo-container">
    <img src="logo.png" alt="Logo" class="logo" />
    <h1>¡Guau que corte!</h1>
  </div>

  <nav class="menu">
    <a [routerLink]="['']">Inicio</a>
    <a [routerLink]="['/nosotros']">Nosotros</a>
    <a [routerLink]="['/servicios']">Servicios</a>
  </nav>

  <ng-container *ngIf="authService.isLoggedIn(); else loginButton">
    <button class="login-btn" routerLink="/mi-cuenta">
      <span class="paw-icon">🐾</span>
      Mi Cuenta
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button class="login-btn" routerLink="/login">
      <span class="paw-icon">🐾</span>
      Login
    </button>
  </ng-template>
</header>