
.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* centra todo */
  background-color: #FBF7EC;

}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* ancho limitado al 80% de la pantalla */
  max-width: 1200px; /* opcional, para pantallas muy grandes */
  padding: 20px 0;
}

/* Contenedor de logo + texto */
.brand {
  display: flex;
  align-items: center;
  gap: 10px; /* 🔹 espacio entre logo y texto */
}

.logo {
  height: 70px;
  transition: all 0.4s ease;
}

/* Texto del logo */
.brand-title {
  font-size: 32px; /* 🔹 ajustá a tu gusto (40 si querés igual que en Figma) */
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #FF9E57;
  margin: 0;
  letter-spacing: 1px;
}

.login-btn {
  background-color: #FF9E57;
  color: #03466F;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #FFD166;
}

.main-header {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 80%; /* mismo ancho que el logo-section */
  max-width: 1200px;
  padding: 10px 0;
  background-color: #455A64;
  transition: background-color 0.4s ease, box-shadow 0.4s ease, padding 0.4s ease;
  position: relative; /* no fijo al inicio */
  border-radius: 100px; /* opcional, bordes redondeados */
}

.main-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;              /* ocupa todo el ancho */
  max-width: 100%;          /* asegura full width */
  border-radius: 0;         /* sin bordes redondeados */
  margin: 0;                /* sin márgenes */
  padding: 10px 0;          /* solo padding vertical */
  background-color: #455A64;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 1000;
}

.main-header.fixed .nav-links a {
  color: white;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 10px;
  transition: color 0.3s;
  font-size: 40px;
}

.nav-links a:hover {
  color: #FF9E57;
}

