<body>
    <!-- Sección Sobre Nosotros -->
    <div class="nosotros-container">
        <div class="nosotros-contenido">
            <div class="nosotros-texto">
                <h1>Sobre Nosotros</h1>
                <p>
                    Somos una plataforma que conecta a dueños de mascotas con peluquerías caninas y veterinarias de
                    confianza.
                    Nuestro objetivo es facilitar la vida de los peluditos y sus familias, brindando un sistema rápido,
                    seguro y sencillo
                    para reservar turnos, descubrir nuevos lugares y acceder a promociones.
                </p>
            </div>

            <img src="/perritoNos.png" alt="Perrito feliz" class="nosotros-img">
        </div>
    </div>

    <!-- Sección Frontend -->
    <div class="equipo-seccion">
        <div class="equipo-titulo">
            <h1>Frontend</h1>
            <img src="/iconoNos.png" alt="icono" class="icono-nos">
        </div>
        <div class="equipo-container">
            <div class="miembro-card" *ngFor="let miembro of equipo1">
                <img [src]="miembro.img" alt="{{miembro.nombre}}">
                <h2>{{miembro.nombre}}</h2>
            </div>
        </div>
    </div>

    <!-- Sección Backend -->
    <div class="equipo-seccion">
        <div class="equipo-titulo">
            <h1>Backend</h1>
            <img src="/iconoNos.png" alt="icono" class="icono-nos">
        </div>
        <div class="equipo-container">
            <div class="miembro-card" *ngFor="let miembro of equipo2">
                <img [src]="miembro.img" alt="{{miembro.nombre}}">
                <h2>{{miembro.nombre}}</h2>
            </div>
        </div>
    </div>

    <!-- Sección Contacto -->
    <div id="contacto" class="contacto-container">
        <div class="contacto-izquierda">
            <h2>¿Tenés dudas, sugerencias o querés más información?</h2>
            <p>
                Estamos para ayudarte. Escribinos y nos pondremos en contacto con vos lo antes posible. ¡Tu opinión nos
                ayuda a seguir mejorando para vos y tu mascota!
            </p>
        </div>

        <div class="contacto-derecha">
            <h2>Contactanos!</h2>
            <p>📧 Correo: contacto&#64;tupeluapp.com</p>
            <p>📱 Teléfono/WhatsApp: +54 9 11 1234-5678</p>
            <p>📍 Ubicación: Buenos Aires, Argentina</p>
        </div>
    </div>
</body>