.login-page-container {
  min-height: 100vh; 
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--color-fondo-pagina);
}

.login-container-wrapper {
  display: flex;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  width: 90%;
}

.login-image-side {
  width: 40%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.login-image-side img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.login-card {
  width: 60%;
  padding: 40px;
  background: var(--color-fondo-principal);
  box-shadow: none;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.login-card h2 {
  
  color: var(--color-texto-principal);
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

label {
  font-weight: bold;
  font-size: 14px;
  color: var(--color-texto-principal);
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

input:focus {
  border-color: #ff9e57;
}

.btn {
  background: #ff9e57;
  color: var(--color-fondo-principal);
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
  margin-top: 10px;
  transition: all 0.2s ease-in-out; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.btn:hover {
  background: #d9762c;
   box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
  transform: translateY(-1px);
}

.register-link {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.register-link a {
  color: #ff9e57;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.register-link a:hover {
  color: #d9762c;
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* A partir de aca va lo responsive                  */
@media (max-width: 768px) {
  .login-container-wrapper {
    flex-direction: column;
    max-width: 400px;
  }
  .login-image-side, .login-card {
    width: 100%;
    
  }
  .login-image-side {
    display: none;
  }
}

/* boton inicio profesionales */
.profesional-cta {
  text-align: center;
  margin: 30px 0;
}

.profesional-cta p {
  font-size: 20px;
  font-weight: 500;
  color: #03466F; /* azul oscuro */
  margin-bottom: 15px;
}

.btn-repo {
  background-color: #FFB703; /* amarillo dorado */
  color: #03466F;
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-repo:hover {
  background-color: #FFD166; /* más claro al pasar el mouse */
  transform: scale(1.05);
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .profesional-cta p {
    font-size: 18px;
  }
  .btn-repo {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .profesional-cta p {
    font-size: 16px;
  }
  .btn-repo {
    font-size: 14px;
    padding: 8px 16px;
  }
}