<div class="carousel-container" *ngIf="profesionales.length > 0">
  <div class="carousel-wrapper" (mouseenter)="pauseAutoSlide()" (mouseleave)="resumeAutoSlide()">
    <button class="carousel-btn prev" (click)="prev()">
      <i class="bi bi-chevron-left"></i>
    </button>

    <div class="carousel-track">
      <div class="card" *ngFor="let prof of profesionales.slice(currentIndex, currentIndex + 3)">
        <div class="card-body">
          <h5 class="card-title">{{ prof.nameEstablishment }}</h5>
          <p class="card-text">
            <strong>Especialidad:</strong> {{ prof.specialty }}
          </p>
          <p class="card-text">
            <strong>Dirección:</strong><br />
            {{ prof.street }} {{ prof.streetNumber }},
            {{ prof.neighborhood }}, {{ prof.province }}
          </p>

          <!-- <button class="btn-vermas">Ver más</button> -->
        </div>
      </div>
    </div>

    <button class="carousel-btn next" (click)="next()">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>